examples/basic-select.json
[
    {
        "id": "tab-sparql-example",
        "type": "tab",
        "label": "SPARQL Basic SELECT",
        "disabled": false,
        "info": "Example flow demonstrating a basic SPARQL SELECT query against the Wikidata endpoint."
    },
    {
        "id": "endpoint1",
        "type": "sparql-endpoint",
        "name": "Wikidata",
        "endpoint": "https://query.wikidata.org/sparql",
        "httpMethod": "POST-direct"
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "tab-sparql-example",
        "name": "Run query",
        "props": [],
        "repeat": "",
        "once": false,
        "x": 150,
        "y": 100,
        "wires": [["sparql1"]]
    },
    {
        "id": "sparql1",
        "type": "sparql-query",
        "z": "tab-sparql-example",
        "name": "Wikidata SELECT",
        "endpoint": "endpoint1",
        "query": "SELECT ?item ?itemLabel WHERE {\n  ?item wdt:P31 wd:Q146.\n  SERVICE wikibase:label { bd:serviceParam wikibase:language \"en\". }\n}\nLIMIT 10",
        "outputFormat": "json",
        "timeout": "60",
        "x": 350,
        "y": 100,
        "wires": [["debug1"]]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "tab-sparql-example",
        "name": "Results",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "inject2",
        "type": "inject",
        "z": "tab-sparql-example",
        "name": "msg.query + msg.endpoint",
        "props": [
            { "p": "query", "v": "SELECT ?item ?itemLabel WHERE {\n  ?item wdt:P31 wd:Q5398426.\n  SERVICE wikibase:label { bd:serviceParam wikibase:language \"en\". }\n}\nLIMIT 5", "vt": "str" },
            { "p": "endpoint", "v": "https://query.wikidata.org/sparql", "vt": "str" }
        ],
        "repeat": "",
        "once": false,
        "x": 180,
        "y": 240,
        "wires": [["sparql2"]]
    },
    {
        "id": "inject3",
        "type": "inject",
        "z": "tab-sparql-example",
        "name": "msg.payload as query",
        "props": [
            { "p": "payload", "v": "SELECT ?item ?itemLabel WHERE {\n  ?item wdt:P31 wd:Q523.\n  SERVICE wikibase:label { bd:serviceParam wikibase:language \"en\". }\n}\nLIMIT 5", "vt": "str" }
        ],
        "repeat": "",
        "once": false,
        "x": 180,
        "y": 300,
        "wires": [["sparql2"]]
    },
    {
        "id": "sparql2",
        "type": "sparql-query",
        "z": "tab-sparql-example",
        "name": "Dynamic inputs",
        "endpoint": "endpoint1",
        "query": "",
        "outputFormat": "flat",
        "timeout": "60",
        "x": 400,
        "y": 270,
        "wires": [["debug2"]]
    },
    {
        "id": "debug2",
        "type": "debug",
        "z": "tab-sparql-example",
        "name": "Dynamic results",
        "active": true,
        "tosidebar": true,
        "complete": "true",
        "x": 600,
        "y": 270,
        "wires": []
    }
]
